.header {
  background: linear-gradient(90deg, rgba(186,222,199,1) 0%, rgba(228,242,233,1) 100%);
  border-bottom: 3px solid #366D4B;
  padding: 0.8rem 1rem;
  position: sticky;
  top:0;
  z-index: 1;
  
  &__principal {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__icon{
    color: #366d4b;
    height: 50px;
    &:hover{
      color: rgb(84, 143, 105);
      cursor: pointer;
      transition: all 0.2s ease-out;
    };

  } 


  &__items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;
    font-weight: bold;
    .first{
      display: none;
    }
    .second{
      display: flex;
      gap: 0.5rem;
    }
  }

  &__button {
    padding: 0.4rem;
    background-color: white;
    border: 1.5px solid #366D4B;
    border-radius: 5px;
    color: #366D4B;
    font-weight: bold;
    &:hover{
      background-color: #366D4B!important;
      color:white;
      cursor: pointer;
      transition: all 0.2s ease-out;
    };
  }

  &__secondary{
    display: none;
    &--active{
      color: #366D4B;
      font-weight: bold;
      font-size: 1.2rem;
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
    }
  }

  &__item{
    padding-bottom: 0.5rem;
    width: 100%;
    &:hover{
      color:rgb(84, 143, 105);
      cursor: pointer;
      transition: all 0.2s ease-out;
    }
  };

  &__logo {
    display: none;
  }; 
  &__name{
    display: none;
  }

  .border {
    border-bottom: 1px solid #366D4B;
    width: 90%;
    border-radius: 5px;
  };
};


@media (max-width: 330px) {
  .header__button {
    font-size: 0.9rem;
  }
};

@media (min-width: 920px) {
  .header{

    &__icon {
      display: none;
    };
    &__logo {
      display: flex;
      height: 50px;
      width: 50px;
    }; 
    &__name{
      display: flex;
      color: #366D4B;
      font-size: 1rem;
      font-weight: bold;
      margin-left: 1rem;
    }  
    &__items{
      display: flex;
      font-size: 1.3rem;
      .first{
        display: flex;
        justify-content: center;
        flex-grow: 1;
        gap: 3rem;
      }
    }
    &__item{
      color:rgb(84, 143, 105);
    }
  };
};
